@{
    ViewBag.Title = "Contact";
}
    <div class="container body-content">
        <h2>Contact Us</h2>
        <address>
            <strong>Support:</strong> <a href="mailto:ywan0255@student.monash.edu">ywan0255@student.monash.edu</a>
        </address>
    </div>