@{
    ViewBag.Title = "Home";
}
<style>
    .car_pic {
        width: 100%;
    }

    .carousel-caption {
        top: 25%;
        bottom: auto;
        padding:0
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        padding: 20px;
        margin: 5%;
        width: 40%;
    }

    .title_pic {
        width: 100%;
        height: 100%;
    }
</style>
<div id="home" class="carousel slide" data-ride="carousel" data-interval="8000">

    <ol class="carousel-indicators">
        <li data-target="#home" data-slide-to="0" class="active"></li>
        <li data-target="#home" data-slide-to="1"></li>
        <li data-target="#home" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

        <div class="item active">
            <div class="carousel-caption">
                <h1>How much a dog would cost</h1>
                <h3>detailed cost of each breed ...</h3>
                <a class="button button-primary-flat" href="/Dogs/Budget">Estimate Budget</a>
            </div>
            <img class="car_pic" src="https://i.loli.net/2019/10/06/UhS5FInJEzyNAuM.jpg" />
        </div>

        <div class="item">
            <div class="carousel-caption">
                <h1>Where are nearby services</h1>
                <h3>parks, vets and pet stores ...</h3>
                <a class="button button-primary-flat" href="/Activities/Index">Search Service</a>
            </div>
            <img class="car_pic" src="https://i.loli.net/2019/10/06/OYIM276VKfFytp3.jpg" />
        </div>

        <div class="item">
            <div class="carousel-caption">
                <h1>What can I do with my dog</h1>
                <h3>activities that suit you ...</h3>
                <a class="button button-primary-flat" href="/Home/Map">Find Activity</a>
            </div>
            <img class="car_pic" src="https://i.loli.net/2019/10/06/2hbZt5dVIrWps4K.jpg" />
        </div>
    </div>

    <a class="carousel-control left" href="#home" data-slide="prev" onclick="wys()">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#home" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="card col-md-6 col-sm-6">
    <h2>Breeds Selector</h2>
    <h4>Recommend breeds based on your preference</h4>
    <img class="title_pic" src="https://i.loli.net/2019/10/05/RV3ib4wYTWc2K8j.jpg" />
    <p style="margin:20px"><a class="button button-primary-flat" href="/Dogs/Report">Learn More</a></p>
</div>

<div class="card col-md-6 col-sm-6">
    <h2>Breeds List</h2>
    <h4>Explore all the popular breeds in Victoria</h4>
    <img class="title_pic" src="https://i.loli.net/2019/10/05/xaV8jseNz5Sm4HK.png" />
    <p style="margin:20px"><a class="button button-primary-flat" href="/Dogs/Index">Learn More</a></p>
</div>


@section Scripts{
    <script>
        var once_per_session = 1
        var bool

        /*
        if (once_per_session === 0)
            passwordProtect()
        else
            loadornot()
        */

        //resize carousel
        resizeHome();
        $(window).resize(function (evt) {
            resizeHome();
        });

        function get_cookie(Name) {
            var search = Name + "="
            var returnvalue = "";
            if (document.cookie.length > 0) {
                offset = document.cookie.indexOf(search)
                if (offset != -1) { // if cookie exists
                    offset += search.length
                    // set index of beginning of value
                    end = document.cookie.indexOf(";", offset);
                    // set index of end of cookie value
                    if (end == -1)
                        end = document.cookie.length;
                    returnvalue = unescape(document.cookie.substring(offset, end))
                }
            }
            return returnvalue;
        }

        //password protection
        function passwordProtect() {
            var password;
            var pass1 = "123";
            password = prompt('Enter password to view page', '');
            if (password === pass1) {
                window.location = "/Home/Index";
                return true;
            }
            else {
                alert("wrong password");
                window.open(location, "_self");
                return false;
            }
        }

        function loadornot() {
            if (get_cookie('protect') === '') {
                bool = passwordProtect();
                if (bool === true)
                    document.cookie = "protect=yes";
            }
        }

        function resizeHome() {
            var h1 = 32;
            var h3 = 18.72;
            newh1 = $(window).width() * 0.05;
            newh3 = $(window).width() * 0.04;
            if (newh1 < h1 || newh3 < h3) {
                h1 = newh1;
                h3 = newh3;
            }
            $("h1").css("font-size", h1 + 'px');
            $("h3").css("font-size", h3 + 'px');

            if (parseInt($(window).width()) < 800) {
                $(".card").css("width", "90%");
            }
            else {
                $(".card").css("width", "40%");
            }

            if (parseInt($(window).width()) < 800) {
                if (parseInt($(window).width()) < 400) {
                    $("h3").css("display", "none");
                    $(" .carousel-caption").css("top", "0");
                } else {
                    $("h3").css("display", "none");
                    $(" .carousel-caption").css("top", "20%");
                }
            }
            else {
                $("h3").css("display", "");
                $(" .carousel-caption").css("top", "25%");
            }
        }
    </script>
}

