@model IEnumerable<PawsHome.Models.Dog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .imgcard {
        padding:20px;
        text-align:center;
        position:relative;
    }

    .img-circle:hover {
        box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .tips {
        position:absolute;
        left:50%;
        display:none;
    }

    .tips p {
        background-color:#8a957a;
        padding:6px;
        color:#fff;
        border-radius:4px;
    }

    #back {
        position:fixed;right:10px;bottom:40px;
        cursor:pointer;
        display:none;
    }


</style>
<div class="container body-content">
    <a name="top"></a>
    <h1>Breeds List</h1>
    <hr />
    @foreach (var item in Model)
    {
        var tipid = "t" + item.id;

        <div class="imgcard col-md-4">
            <a href="/Dogs/Details/@item.id"><img class="img-circle" id="@item.id" src="@item.url" style="width:200px;height:180px" /></a>
            <div class="tips" id="@tipid">
                <p>@item.breed</p>
            </div>
        </div>
    }
</div>
<a id="back" class="button button-glow button-circle button-primary" href="#top" style="float:right">
    <span class="glyphicon glyphicon-arrow-up"></span>
</a>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    $("#back").fadeIn(300);
                }
                else {
                    $("#back").fadeOut(200);
                }

            });

            $("#back").mouseover(function (evt) {
                document.getElementById("back").innerHTML = "top";
            });

            $("#back").mouseout(function (evt) {
                document.getElementById("back").innerHTML = "<span class=\"glyphicon glyphicon-arrow-up\"></span>";
            });

            $(".img-circle").mouseover(function (evt) {
                var id = $(this).attr("id");
                $("#t" + id).show();
            });

            $(".img-circle").mouseout(function (evt) {
                $(".tips").hide();
            });

        });
    </script>
}



