@model PawsHome.Models.Activity

@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #video {
        width: 100%;
    }

    p {
        font-size: large;
        text-align: justify;
    }
</style>

<a style="float:left;font-size:medium" href="/Activities/Index">&laquo; Back to activities</a>
<div class="container body-content">
    <div class="row" style="text-align:center">
        <h1>@Model.name</h1>
        <hr />
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <iframe id="video" frameborder="0" style="display:none" allowfullscreen></iframe>
            <hr/>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p>@Model.description</p>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<hr />
@{
    int newid = Model.id + 1;
    int preid = Model.id - 1;
}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        @if (preid != 0)
        {
            <a style="font-size:medium" href="/Activities/Details/@preid">&lsaquo; Previous activity</a>
        }
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        @if (newid < 12)
        {
            <a style="float:right;font-size:medium" href="/Activities/Details/@newid">Next activity &rsaquo;</a>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var url = "@Model.video";
            url = url.split("v=")[1];
            $("#video")[0].src = "//www.youtube.com/embed/" + url;
            $("#video").show();
        });
    </script>
    <script>
        function resizeVideo() {
            var v = document.getElementById("video");
            var v_width = v.clientWidth;
            v.style.height = parseInt(v_width * 0.65) + "px";
        }

        $(document).ready(function () {
            resizeVideo();
            $(window).resize(function (evt) {
                resizeVideo()
            });
        });
    </script>
}
