@model PawsHome.Models.Activity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #video {
        width: 100%;
    }
</style>

<div class="container body-content" style="text-align:center">
    <div class="row">
        <div class="col-md-6">
            <iframe id="video" frameborder="0" style="display:none" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var url = "https://www.youtube.com/watch?v=_xzcfrgNjys";
            url = url.split("v=")[1];
            $("#video")[0].src = "//www.youtube.com/embed/" + url;
            $("#video").show();
        });
    </script>
    <script>
        function resizeVideo() {
            var v = document.getElementById("video");
            var v_width = v.clientWidth;
            v.style.height = parseInt(v_width * 0.65) + "px";
        }

        $(document).ready(function () {
            resizeVideo();
            $(window).resize(function (evt) {
                resizeVideo()
            });
        });
    </script>
}